.white_text {
	color: white;
}
/* ------------------------- */
/* Form */
/* ------------------------- */

/* search button */
.btn.transparent {
	border: solid 1px #D54F58;
	background-color: transparent;
	color: #D54F58;
}

.btn.red {
	border: solid 1px transparent;
	background-color: #D54F58;
	color: white;
}

@media (min-width: 768px) {
	.form div {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
}

/* xs devices */
@media (max-width: 767px) {
	.btn_container {
		padding-top: 10px !important;
		float: left !important;
	}
}

.slides_content {
/* 	background-color: rgba(0, 0, 0, 0.60); */
	padding-top: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}

@media (max-width: 767px) {
	.slides_content {
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

.btn {
	width: 100%;
}

/* for xs devices */
@media (max-width: 767px) {
	.form-margin-top-xs {
		margin-top: 15px;
	}
}

/* RESULT */
.result .item {
	margin-bottom: 5px;
	padding: 0 2.5px 0 2.5px;
}
.result .item div {
	border: solid 1px white;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 15px 5px 15px 5px;
	border-radius: 3px;
}

.white_background {
	background: white;
}

.pointer {
	cursor: pointer;
}

.clear {
	margin-top: 50px;
}